body {
  background-color: #FAF8EF;
  font-family: helvetica, sans-serif;
}

.container {
  padding: 10px;
  width: 600px;
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
}

.score-container {
  margin: 30% 0%;
  padding: 10px;
  float: right;
  text-align: center;
  color: #fff;
  background-color: #BBADA0;
  border-radius: 5px;
  font-size: 14px;
}

.score {
  font-size: 48px;
}

.game-container {
  background-color: #BBADA0;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  display: block;
  float: left;
  width: calc(80% + 20px);
}

.instructions-container {
  background-color: #BBADA0;
  color: #fff;
  position: relative;
  width: calc(80%);
  height: 200px;
  top: 20px;
  padding: 10px;
  clear: both;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

.title {
  font-family: helvetica, sans-serif;
  font-size: 48px;
  text-align: center;
}

.row {
  display: block;
  clear: both;
}

.cell {
  background-color: #fff;
  box-sizing: border-box;
  float: left;
  width: 16px;
  height: 16px;
  border: 1px solid #eee;
}

.cell.snake, .sample-snake {
  background-color: #0c9;
}

.cell.snake-poisoned, .sample-snake-poisoned {
  background-color: #CC6699;
}

.cell.apple, .sample-apple {
  background-color: #A80000;
}

.cell.golden-apple, .sample-golden-apple {
background-color: #FF9900;
}

.cell.poison-apple, .sample-poison-apple {
  background-color: #660066;
}
